/**************************************
	base
***************************************/
/* ---------------------------------------------------------
スタイルリセット
----------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,td,th,p,ul,li,dt,dd {
	font-size: 1em;
}

ul li {
	list-style: none;
}

article, header, footer, aside, figure, figcaption, nav, section { 
	display:block;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img{
	vertical-align: bottom;
}

a {
	display: block;
	transition: all 0.5s ease;
	cursor: pointer;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 100%;
  box-sizing: border-box;
}

* {
	box-sizing: border-box;
}


/* ---------------------------------------------------------
変数
----------------------------------------------------------*/
/*break point
-----------------------*/
$pcSize: 1260px;
$mobileSize: 768px;
$contentSize: 900px;

/*color
-----------------------*/
$white: #fff;
$black: #000;
$shadow: #242424;
$shadow01: #212121;
$gray: #ccc;
$gray01: #999999;
$darkgray: #1f1f1f;
$lightgray: #424242;
$dirtywhite: #fafafa;
$pink: #ff2653;
$bordergray: #e5e5e5;
$blue: #2486ff;

/*font family
-----------------------*/
$fontFamily: "M PLUS Rounded 1c","Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
$fontBarlow: 'Barlow Condensed', sans-serif;
$fontRound: 'M PLUS Rounded 1c', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* ---------------------------------------------------------
初期設定
----------------------------------------------------------*/
html {
	color: $black;
	background-color: $white;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: normal;
}

body {
	font-family: $fontFamily;
}

html,
body {
	position: relative;
	min-width: $pcSize;
	@include renderText;
}


a {
	text-decoration:none;
	color: $black;
}

input {
	-webkit-appearance: none;
	outline: none;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}


table {
	width: 100%;
	border-collapse: collapse;
}

.clearfix {
	@include clearfix;
}

/******************************
 	base sp
*******************************/

@include media($mobileSize) {
	html {
		min-width: 100%;
	}
}