/**************************************

category.scss

***************************************/

.category {

	&__items_container {
		width: 100%;
		@include grid;
	}
	&__item {
		position: relative;
		min-width: 310px;
		min-height: 154px;
		text-align: center;
		margin-bottom: 50px;
		@include background;
		cursor: pointer;

		&:not(:nth-of-type(4n+4)) {
			margin-right: 6px;
		}

		&.selected {
			color: $pink;

			.category__item_img {
				&::before {
					display: block;
				}
				&::after {
					display: block;
				}
			}
		}

		&:hover {
			.category__item_img {
				&::after {
					display: block;
					background-color: rgba(0, 0, 0, 0.25);
				}
			}
		}
	}

	&__item_img {
		position: relative;
		width: 310px;
		height: 154px;
		margin-bottom: 16px;
		@include background;
		@include flex(center, center);

		&::before, &::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: calc(100% - 10px);
			width: calc(100% - 10px);
			margin: 5px;
			@include background;
			@include flex(center, center);
			@include transition;
			display: none;
		}
		&::before {
			background-image: url('../img/common/ico_selected.png');
			background-size: 50px;
			z-index: 2;
		}
		&::after {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	&__item_title {
		font-size: 21px;
	}

	&__item_count {
		font-size: 14px;
		span {
			font-size: 30px;
		}
	}

	&__item_add {
		font-size: 16px;
		margin-top: 10px;
	}
}


/******************************
    SP
*******************************/

@include media($mobileSize) {
	.category {

		&__items_container {
			width: 100%;
			@include grid;
		}
		&__item {
			min-width: calc(50% - 5px);
			min-height: 80px;
			margin-bottom: 25px;

			&:not(:nth-of-type(4n+4)) {
				margin-right: 0;
			}

			&:nth-of-type(2n+2) {
				margin-left: 5px;
			}
		}

		&__item_img {
			width: 100%;
			height: 80px;
			margin-bottom: 8px;

			&::before, &::after {
				height: 100%;
				width: 100%;
				margin: 0;
			}
			&::before {
				background-size: 30px;
			}
		}

		&__item_title {
			font-size: 14px;
		}

		&__item_count {
			font-size: 11px;
			span {
				font-size: 20px;
			}
		}

		&__item_add {
			font-size: 11px;
			margin-top: 3px;
		}

		.button_container {
			width: 100%;
			border-top: 1px solid $bordergray;

			.btn--primary_invert {
				width: 270px;
				height: 36px;
				font-size: 13px;
				margin: 10px auto;

				span {
					padding-left: 20px;
					position: relative;
					line-height: 2;

					&::before {
					    position: absolute;
					    content: '';
					    left: 0;
					    top: 0;
					    height: 100%;
					    width: 100%;
					    background-image: url(../img/common/ico_check_white.png);
					    background-size: 17px;
					    background-position: left center;
					    background-repeat: no-repeat;
					}
				}

				&:hover {
					span{
						&::before {
					    	background-image: url(../img/common/ico_check_red.png);
						}
					}
				}
			}
		}
	}
}