/**************************************

child-header.scss

***************************************/

.page_header {
	@include flex(center, space-between);
	margin-bottom: 50px;
	margin-top: 80px;

	&.center {
		justify-content: center;
		text-align: center;
	}

	&__col {
		h1 {
			font-size: 36px;
			font-weight: 600;
		}

		p {
			font-size: 16px;
			line-height: 1.7;
			color: $lightgray;
		}
	}

	.btn--primary_invert {
		span {
			padding-left: 20px;
			position: relative;
			line-height: 2;

			&::before {
			    position: absolute;
			    content: '';
			    left: 0;
			    top: 0;
			    height: 100%;
			    width: 100%;
			    background-image: url(../img/common/ico_check_white.png);
			    background-size: 17px;
			    background-position: left center;
			    background-repeat: no-repeat;
			}
		}

		&:hover {
			span{
				&::before {
			    	background-image: url(../img/common/ico_check_red.png);
				}
			}
		}
	}

}

.profile_header {
	@include flex(center, space-between);
	margin-top: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid $bordergray;

	&__col {
		&:first-of-type {
			width: 150px;
		}
		&:last-of-type {
			width: calc(100% - 150px);
			padding-left: 40px;
		}
	}

	&__img {
		width: 150px;
		height: 150px;
		border-radius: 100%;
		@include background;
	}

	&__username {
		font-size: 30px;
		font-weight: 600;
	}

	&__bio {
		font-size: 16px;
		color: $lightgray;
		margin-top: 12px;
	}

	&__info {
		@include flex(center, space-between);
		flex-direction: row-reverse;
		margin-top: 30px;

		.profile_info, .follow_info {
			@include flex(center, flex-start);

			&__col {
				font-size: 16px;

				&:first-of-type {
					border-right: 1px solid $bordergray;
					padding-right: 28px;
				}

				&:last-of-type {
					padding-left: 28px;
				}

				span {
					color: $pink;
					font-size: 27px;
				}
			}
		}

		.profile_info a {
			color: $blue;
		}
	}
}

.profile_nav {
	margin-top: 30px;
	margin-bottom: 30px;

	ul {
		li {
			display: inline-block;
			a {
				display: block;
				padding: 0 25px;
				height: 40px;
				@include transition;
				@include flex(center, center);
				border-radius: 30px;
				text-align: center;
				cursor: pointer;
				border: 1px solid transparent;
				font-size: 16px;

				&.active {
					background: $pink;
					color: $white;

					&:hover {
						opacity: 0.8;
						color: $white;
					}
				}

				&:hover {
					border: 1px solid $pink;
					color: $pink;
				}
			}
		}
	}
}

.form_header {
	margin-top: 80px;
	margin-bottom: 50px;

	h1 {
		font-size: 36px;
		font-weight: 600;
		color: $darkgray;
	}
	p {
		font-size: 16px;
		color: $lightgray;
		margin-top: 10px;
	}
}


/******************************
    SP
*******************************/

@include media($mobileSize) {

	::-webkit-scrollbar{width:2px;height:2px;}
	::-webkit-scrollbar-button{width:2px;height:2px;}

	.page_header {
		margin-bottom: 15px;
		margin-top: 25px;
		text-align: center;
		justify-content: center;

		&__col {
			h1 {
				font-size: 16px;
			}

			p {
				font-size: 10px;
				line-height: 1.4;
			}
		}
	}

	.profile_header {
		display: block;
		margin-top: 20px;
		padding: 0 0 15px;
		border-bottom: 1px solid $bordergray;
		text-align: center;

		&__col {
			&:first-of-type {
				width: 100%;
			}
			&:last-of-type {
				width: 100%;
				padding-left: 0;
			}
		}

		&__img {
			width: 62px;
			height: 62px;
			margin: 0 auto;
		}

		&__username {
			font-size: 16px;
		}

		&__bio {
			font-size: 10px;
			margin-top: 7px;
		}

		&__info {
			display: block;
			margin-top: 15px;

			.profile_info, .follow_info {
				@include flex(center, center);

				&__col {
					font-size: 10px;

					&:first-of-type {
						padding-right: 50px;
					}

					&:last-of-type {
						padding-left: 50px;
					}

					span {
						font-size: 18px;
					}
				}
			}

			.profile_info {
				padding-bottom: 18px;
				border-bottom: 1px solid $bordergray;

				&__col {
					&:first-of-type {
						padding-right: 25px;
						border-right: none;
					}

					&:last-of-type {
						padding-left: 25px;
					}
				}
			}

			.follow_info {
				margin-top: 12px;
			}
		}
	}

	.profile_nav {
		margin-top: 30px;
		margin-bottom: 30px;
		padding-right: 0;
		overflow: scroll;

		ul {
			min-width: 485px;
			li {
				a {
					padding: 0 15px;
					height: 60px;
					width: 85px;
					border-radius: 15px;
					font-size: 13px;
				}
			}
		}
	}

	.form_header {
		margin-top: 25px;
		margin-bottom: 15px;
		text-align: center;

		h1 {
			font-size: 16px;
		}
		p {
			font-size: 10px;
		}
	}
}