/**************************************

common.scss

***************************************/

.pc {
	display: block !important;
}

.sp {
	display: none !important;
}

.container {
	max-width: $pcSize;
	min-width: 1200px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.container02 {
	max-width: 1100px;
	min-width: 1100px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.flex {
	@include flex(center, center);
}

.full-width {
	width: 100%;
}

.visible {
	display: block !important;
}


body {
	&.modal_open {
		overflow: hidden;
	}

	input {
		// margin: 0 auto;
		// display: block;
		// padding: 15px 0;
		// border-radius: 30px;
		// font-size: 16px;
		// min-width: 330px;
		// text-align: center;

		&:focus {
			outline: none;
		}
	}

	input[type="text"] {
		color: #999;
		border: 1px solid #999; 

		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	// input[type="submit"] {
	// 	margin-top: 20px;
	// 	color: $white;
	// 	background: $pink;
	// 	border: 1px solid $pink;
	// 	@include transition;
	// 	@include hoverOpacity;
	// }
}

main {

}

section {
	padding-bottom: 80px;

	.inner__header {
		text-align: center;

		h2 {
			color: $darkgray;
			font-size: 36px;
			line-height: 1;
			letter-spacing: 0.1em;	
		}

		span {
			margin-top: 20px;
			display: block;
			color: $lightgray;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.01em;
		}
	}

	.inner__container {
		max-width: $pcSize;
		margin: 0 auto;
	}
}

.featured__list {
	@include clearfix;

	.feature__item {
		float: left;
		width: calc(25% - 15px);
		@include transition;

		&:not(:nth-of-type(4n+4)) {
			margin-right: 20px;
		}

		&:nth-of-type(n+5) {
			margin-top: 22px;
		}

		&:hover {
			opacity: 0.7;
		}

		.feature__details {
			padding: 20px 10px;

			h3 {
				font-size: 18px;
				line-height: 1.5;
			}

			.date,
			.location,
			.currency {
				position: relative;
				display: block;
				font-size: 15px;
				font-weight: 300;
				padding-left: 23px;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					display: block;
					background-size: 100% auto;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			.date {
				margin-top: 22px;

				&::before {
					width: 14px;
					height: 14px;
					background-image: url('../img/common/ico_time.png');
				}
			}

			.location {
				&::before {
					width: 12px;
					height: 15px;
					background-image: url('../img/common/ico_location.png');
				}
			}

			.currency {
				&::before {
					width: 14px;
					height: 14px;
					background-image: url('../img/common/ico_yen.png');
				}
			}

			.location,
			.currency {
				margin-top: 10px;
			}
		}
	}
}

.eventcases__category {
	margin-bottom: 10px;
	@include clearfix;

	.date,
	.item {
		float: left;
	}

	.date {
		font-size: 16px;

		span {
			font-size: 24px;
		}
	}

	.item {
		margin-top: 10px;
		margin-left: 25px;

		span {
			color: $pink;
		}
	}
}

.category__container {
	position: relative;
	margin: 33px auto 0;
	max-height: 57px;

	.category__list {
		width: calc(100% - 60px);
		display: flex;
		flex-wrap: wrap;
		max-height: 57px;
		overflow: hidden;
		-webkit-flex-flow: row wrap;
		@include transition;

		&.js--category__list {
			max-height: none;
		}

		li {
			margin-top: 14px;

			a {
				display: block;
				border: 1px solid #aaa;
				padding: 12px 27px;
				margin-right: 10px;
				background: $white;
				border-radius: 20px;
				@include transition;

				&:hover {
					background: $pink;
					color: $white;
					border-color: $pink;
				}
			}

			&.active {
				a {
					background: $pink;
					color: $white;
					border-color: $pink;
				}
			}
		}
	}

	.catnav__btn {
		position: absolute;
		top: 15px;
		right: 0;
		display: block;
		width: 40px;
		height: 40px;
		background-image: url('../img/common/ico_nav_down.png');
		background-size: 14px 8px;
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid #aaa;
		border-radius: 50%;
		@include transition;

		&:hover {
			border-color: $pink;
			background-color: $pink;
			background-image: url('../img/common/ico_nav_down_white.png');
		}
	}
}

.default_form {
	margin-bottom: 50px;

	.form_input {
		@include flex(flex-start, flex-start);
		margin: 20px 0;

		&.center_align {
			@include flex(center, flex-start);
		}

		&.submit_btn {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;

			.container {
				@include flex(center, flex-end);
			}

			.btn--primary_invert {
				margin-left: 10px;

				span {
					padding-left: 20px;
					position: relative;
					line-height: 2;

					&::before {
					    position: absolute;
					    content: '';
					    left: 0;
					    top: 0;
					    height: 100%;
					    width: 100%;
					    background-image: url(../img/common/ico_check_white.png);
					    background-size: 17px;
					    background-position: left center;
					    background-repeat: no-repeat;
					}
				}

				&:hover {
					span{
						&::before {
					    	background-image: url(../img/common/ico_check_red.png);
						}
					}
				}
			}

			.btn--white {
				height: 40px;
				border-radius: 30px;
			}
		}

		.to {
			width: 40px;
			height: 50px;
			@include background;
			background-size: 15px;
			background-image: url('../img/common/ico_to.png');
		}

		label {
			font-size: 18px;
			min-width: 145px;
			text-align: right;
			line-height: 2;
			padding: 9px 20px 9px 0;
		}
		input:not([type="submit"]),
		textarea,
		.custom_select {
			font-size: 16px;
			margin: 0;
			height: 50px;
			width: 260px;
			max-width: calc(100% - 145px);
			border: 1px solid $bordergray;
			border-radius: 5px;
			color: $shadow;

			&.full-width {
				width: calc(100% - 145px);
			}


			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder,
			&:-moz-placeholder {
			    color: $shadow01;
			    font-weight: 500;
			}
		}

		textarea {
			min-height: 150px;
			color: $gray01;
		}

		.datepicker {
			background-color: $white;
			max-width: 210px;
			width: 210px;
			min-width: auto;
			z-index: 2;
		}

		// ******CUSTOM_SELECT*******
		.custom_select {
			position: relative;
			width: 210px;
			max-width: 100%;
		}
		.custom_select select {
		  	display: none;
		}
		.select-selected {
			background-color: $white;
			color: $shadow;
			cursor: pointer;
			user-select: none;
			@include flex(center, flex-start);
			height: 100%;
			padding: 9px;
			border-radius: 5px;
		}
		.select-selected:after {
			position: absolute;
			content: "";
			top: 0;
			right: 10px;
			width: 20px;
			height: 100%;
			background-image: url('../img/common/ico_dropdown_down.png');
			@include background;
			background-size: 14px;
			@include transition;
		}
		.select-selected.select-arrow-active:after {
		  	border-color: transparent transparent $black transparent;
		  	transform: rotate(180deg);
		}
		.select-items div {
			color: $darkgray;
			padding: 9px 16px;
			cursor: pointer;
			user-select: none;
		}
		.select-items {
			position: absolute;
			background-color: #fff;
			top: 100%;
			width: 100%;
			border: 1px solid $bordergray;
			left: -1px;
			right: 0;
			z-index: 99;
			height: auto;
			box-sizing: content-box;

			div {
				border-color: transparent #ccc #ccc #ccc;
			}
		}
		.select-hide {
		  	display: none;
		}
		.select-items div[selected="true"], .select-items .same-as-selected {
		  	color: $pink;
		}
		// *****/CUSTOM_SELECT*******


		// ******CUSTOM_RADIO*******
		.custom_radio {
		    display: block;
		    position: relative;
		    padding-left: 32px;
		    cursor: pointer;
		    font-size: 13px;
		    line-height: 1.5;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		    height: 50px;
		    @include flex(center, flex-start);
		}

		.custom_radio input {
		    position: absolute;
		    opacity: 0;
		    cursor: pointer;
		}

		.custom_radio .checkmark {
		    position: absolute;
		    top: calc(50% - 12px);
		    left: 0;
		    height: 24px;
		    width: 24px;
		    background-color: $dirtywhite;
		    border-radius: 50%;
		    border: 1px solid $bordergray;
		    @include transition;
		}

		.custom_radio:hover input ~ .checkmark {
			&::before {
				background-color: $pink;
				opacity: 0.8;
			}
		}

		.custom_radio input:checked ~ .checkmark {
		    background-color: $white;
		    border: 1px solid $pink;
		}

		.custom_radio .checkmark:after {
		    content: "";
		    position: absolute;
		    top: calc(50% - 7px);
		    left: calc(50% - 7px);
		    width: 12px;
		    height: 12px;
		    border-radius: 50%;
		    z-index: 2;
		    border: 1px solid $pink;
		    @include transition;
		}

		.custom_radio .checkmark:after {
		    display: none;
		    background: $pink;
		}

		.custom_radio input:checked ~ .checkmark:after {
		    display: block;
		}
		// ******/CUSTOM_RADIO*******

	}
}


.upload_img {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	margin: 0;
	height: 215px;
	min-height: 215px;
	width: 215px;
	min-width: 215px;
	border: 1px solid $bordergray;
	background-color: $dirtywhite;
	padding: 0;
	@include transition;

	&::before {
		content: '';
		position: absolute;
		height: 60px;
		width: 60px;
		border-radius: 100%;
		border: 1px solid $bordergray;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		@include transition;
		@include background;
		background-image: url('../img/common/ico_plus_gray.png');
		background-size: 20px;
	}

	&:hover {
		background-color: $bordergray;
			border: 1px solid $gray;

		&::before {
			border: 1px solid $gray;
		}
	}

	[type=file] {
	    display: block;
	    opacity: 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: -1;
	}
}

.form_input {
	margin: 10px 0;
	input:not([type="submit"]), textarea {
		border-radius: 5px;
		background-color: $dirtywhite;
		width: 100%;
		max-width: 100%;
		height: 30px;
		padding: 9px;
		font-size: 16px;
		text-align: left;
		position: relative
	}
	textarea {
		line-height: 1.8;
		height: 60px;
		font-size: 10px;
	}
	input.input--search {
		height: 40px;
		border-radius: 30px;
		padding-left: 50px;
		background-repeat: no-repeat;
		background-position: 15px center;
		background-size: 20px;
		background-image: url('../img/common/ico_search.png');

	}

	// *******CUSTOM_CHECKBOX*******
	.custom_checkbox {
	    display: block;
	    position: relative;
	    padding: 0 0 0 35px;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    text-align: left;
	    padding-left: 25px;
	    display: flex;
	    align-items: center;
	    line-height: 1.2;
	}

	/* Hide the browser's default checkbox */
	.custom_checkbox input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	    height: 18px;
	}

	/* Create a custom checkbox */
	.checkmark {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 18px;
	    width: 18px;
	    background-color: #eee;
	    border-radius: 3px;
	}

	/* On mouse-over, add a grey background color */
	.custom_checkbox:hover input ~ .checkmark {
	    background-color: $bordergray;
	}

	/* When the checkbox is checked, add a blue background */
	.custom_checkbox input:checked ~ .checkmark {
	    background-color: $pink;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	    content: "";
	    position: absolute;
	    display: none;
	}

	/* Show the checkmark when checked */
	.custom_checkbox input:checked ~ .checkmark:after {
	    display: block;
	}

	/* Style the checkmark/indicator */
	.custom_checkbox .checkmark:after {
	    height: 100%;
	    width: 100%;
	    @include background;
	    background-image: url('../img/common/ico_check_white01.png');
	    background-size: 12px;
	}
	// ******/CUSTOM_CHECKBOX*******
}

.previous {
	margin: 20px 45px;
	height: 40px;
	@include flex(center, flex-start);
	font-size: 21px;
	position: relative;
	padding-left: 30px;
	border-left: 1px solid $bordergray;

	&::before {
		content: '';
		position: absolute;
		top: calc(50% - 11px);
		left: -45px;
		height: 22px;
		width: 14px;
		@include background;
		background-image: url('../img/common/ico_prev.png');
	}

	span {
		font-size: 16px;
	}
}


/****************button****************/
.btn__main {
	display: block;
	margin: 35px auto 0;
	width: 100%;
	padding: 21px 0 18px;
	max-width: 400px;
	color: $pink;
	font-size: 18px;
	text-align: center;
	line-height: 1;
	border-radius: 30px;
	border: 1px solid $pink;
	@include transition;

	&:hover {
		background: $pink;
		color: $white;
	}
}

.btn {
	margin: 0;
	height: 40px;
	min-width: 120px;
	line-height: 1;
	border-radius: 30px;
	text-align: center;
	display: block;
	cursor: pointer;
	@include transition;
	@include flex(center, center);

	&--primary {
		border: 1px solid $pink;
		color: $pink;
		background: $white;

		&:hover {
			background: $pink;
			color: $white;
		}
	}

	&--primary_invert {
		background: $pink;
		border: 1px solid transparent;
		color: $white;

		&:hover {
			border: 1px solid $pink;
			background: $white;
			color: $pink;
		}
	}

	&--white {
		height: 60px;
		width: 160px;
		@include flex(center, center);
		border-radius: 5px;
		border: 1px solid $bordergray;
		color: $shadow;
		font-size: 16px;
		background-color: $white;
		display: block;
		@include transition;

		&:hover {
			background-color: $bordergray;
		}
	}
	
}

.txt--red {
	color: $pink;
}

.txt--blue {
	color: $blue;
}

/****************gridding****************/
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&--left {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&--start {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
}

.col_1 { width: calc(8.33% - 10px); }
.col_2 { width: calc(16.66% - 10px); }
.col_3 { width: calc(25% - 10px); }
.col_4 { width: calc(33.33% - 10px); }
.col_5 { width: calc(41.66% - 10px); }
.col_6 { width: calc(50% - 10px); }
.col_7 { width: calc(58.33% - 10px); }
.col_8 { width: calc(66.66% - 10px); }
.col_9 { width: calc(75% - 10px); }
.col_10 { width: calc(83.33% - 10px); }
.col_11 { width: calc(91.66% - 10px); }
.col_12 { width: 100%; }

/************custom datepicker************/
.ui-datepicker {
	z-index: 1;
	width: auto;
	-webkit-box-shadow: 1px 6px 20px -4px rgba(0,0,0,0.48);
	-moz-box-shadow: 1px 6px 20px -4px rgba(0,0,0,0.48);
	box-shadow: 1px 6px 20px -4px rgba(0,0,0,0.48);

}
.ui-datepicker-prev, .ui-datepicker-next {
	background-image: url('../img/common/ico_right.png');
	background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
}
.ui-datepicker-prev {
	transform: rotate(180deg);
}
.ui-datepicker-year {
	display: none;
}
.ui-datepicker td,
.ui-datepicker-calendar th {
	height: 40px;

	&:nth-of-type(6n + 1) {
		color: $pink;
		a {
			color: $pink;
		}
	}
}

.ui-state-hover {
	background: none;
	border: none;
}

.pagination {
	@include flex(flex-start, space-between);
	color: $lightgray;
	margin-bottom: 60px;

	&__prev,
	&__next {
		position: relative;
		cursor: pointer;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 10px;
			@include background;
			background-image: url('../img/common/ico_prev.png');
			background-size: 8px;
			
		}
	}

	&__prev {
		padding-left: 15px;

		&::before {
			left: 0;
		}
	}

	&__next {
		padding-right: 15px;

		&::before {
			right: 0;
			transform: rotate(180deg);
		}
	}
}

/******************************
    Medium Device
*******************************/
@include media($pcSize) {
	.container, .container02 {
		padding: 0 20px;
	}
}

/******************************
    SP
*******************************/

@include media($mobileSize) {
	html, body {
		min-width: auto;
	}

	.pc {
		display: none !important;
	}

	.sp {
		display: block !important;
	}

	.container, .container02 {
		max-width: 100%;
		min-width: 100%;
		padding: 0 10px;
	}

	.page_header {
		margin-bottom: 15px;
		margin-top: 25px;
		text-align: center;
		justify-content: center;

		&__col {
			h1 {
				font-size: 16px;
			}

			p {
				font-size: 10px;
				line-height: 1.4;
			}
		}
	}

	.previous {
		margin: 15px 20px;
		height: 20px;
		font-size: 14px;
		padding-left: 15px;

		&::before {
			top: calc(50% - 6px);
			left: -20px;
			height: 12px;
			width: 7px;
		}

		span {
			font-size: 10px;
		}
	}

	.pagination {
	    font-size: 11px;
	}

	.form_input {
		.input--search {
			height: 27px;
			font-size: 10px;
			padding-left: 35px;
			background-size: 13px;
		}
	}

	label.upload_img {
		height: 98px;
		min-height: 98px;
		width: 98px;
		min-width: 98px !important;
		max-width: 98px;

		&::before {
			height: 36px;
			width: 36px;
			top: calc(50% - 18px);
			left: calc(50% - 18px);
			background-size: 12px;
		}
	}

	.default_form {
		margin-bottom: 50px;

		.form_input {
			display: block;
			margin: 12px 0;

			&:first-of-type {
				input {
					height: 45px;
				}
			}

			&.center_align {
				flex-wrap: wrap;
			}

			&.submit_btn {
				position: relative;
				padding-top: 12px;
				border-top: 1px solid $bordergray;

				.container {
					justify-content: center;

					.btn {
						min-width: 130px;
						width: 130px;
						max-width: 130px;
					}

					.btn--primary_invert {
						width: 100%;
						height: 35px;

						span {
							font-size: 13px;

							&::before {
							    background-size: 14px;
							}
						}
					}
				}
			}

			.to {
				width: 20px;
				height: 27px;
				@include background;
				background-size: 7px;
			}

			label {
				font-size: 10px;
				min-width: 100%;
				text-align: left;
				padding: 0;
				display: block;
			}
			input:not([type="submit"]),
			textarea,
			.custom_select {
				font-size: 12px;
				height: 27px;
				width: 140px;
				max-width: 100%;

				&.full-width {
					width: 100%;
				}
			}

			input:not([type="submit"]) {
				color: $shadow01;
			}

			textarea {
				min-height: 80px;
			}

			input.datepicker {
				max-width: 138px;
				width: 138px;
				margin: 0;
			}

			// ******CUSTOM_SELECT*******
			.custom_select {
				width: 140px;
				height: 27px;
			}
			.custom_select select {
			  	display: none;
			}
			.select-selected {
				background-color: $white;
				color: $shadow;
				cursor: pointer;
				user-select: none;
				@include flex(center, flex-start);
				height: 100%;
				padding: 9px;
				border-radius: 5px;
			}
			.select-selected::after {
				position: absolute;
				content: '';
				top: 0;
				right: 10px;
				width: 20px;
				height: 100%;
				background-image: url('../img/common/ico_dropdown_down.png');
				@include background;
				background-size: 14px;
				@include transition;
			}
			.select-selected.select-arrow-active:after {
			  	border-color: transparent transparent $black transparent;
			  	transform: rotate(180deg);
			}
			.select-items div {
				color: $darkgray;
				padding: 9px 16px;
				cursor: pointer;
				user-select: none;
			}
			.select-items {
				position: absolute;
				background-color: #fff;
				top: 100%;
				width: 100%;
				border: 1px solid $bordergray;
				left: -1px;
				right: 0;
				z-index: 99;
				height: auto;
				box-sizing: content-box;

				div {
					border-color: transparent #ccc #ccc #ccc;

					&:first-of-type {
						display: none !important;
					}
				}
			}
			.select-hide {
			  	display: none;
			}
			.select-items div:hover, .same-as-selected {
			  	background-color: $dirtywhite;
			}
			// *****/CUSTOM_SELECT*******


			// ******CUSTOM_RADIO*******
			.custom_radio {
			    padding-left: 24px;
			    font-size: 12px;
			    line-height: 1.5;
			    height: 30px;
			    min-width: 120px;
			    max-width: 120px;
			    display: inline-block;
			    margin-top: 3px;
			}

			.custom_radio .checkmark {
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 18px;
			    width: 18px;
			    background-color: $dirtywhite;
			    border-radius: 50%;
			    border: 1px solid $bordergray;
			    @include transition;
			}

			.custom_radio:hover input ~ .checkmark {
				&::before {
					background-color: $pink;
					opacity: 0.8;
				}
			}

			.custom_radio input:checked ~ .checkmark {
			    background-color: $white;
			    border: 1px solid $pink;
			}

			.custom_radio .checkmark:after {
			    top: calc(50% - 5px);
			    left: calc(50% - 5px);
			    width: 9px;
			    height: 9px;
			}

			.custom_radio .checkmark:after {
			    display: none;
			    background: $pink;
			}

			.custom_radio input:checked ~ .checkmark:after {
			    display: block;
			}
			// ******/CUSTOM_RADIO*******

		}
	}
}