/**************************************

create-edit.scss

***************************************/
.create_edit {
	position: relative;
	.container, .container02 {
		overflow: visible;
	}

	input.event_title {
		color: $darkgray;
		font-weight: 600;
		font-size: 18px;

		&:focus {
			border: 1px solid $pink;
			outline: 1px solid $pink;
			caret-color: $pink;
		}

	}

	.preview_gallery {
		@include flex(flex-start, flex-start);
		flex-wrap: wrap;

		.preview_img {
			height: 215px;
			width: 215px;
			@include background;
			position: relative;

			.delete_img {
				position: absolute;
				height: 30px;
				width: 30px;
				top: 10px;
				right: 10px;
				border: 1px solid $bordergray;
				border-radius: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				@include background;
				background-image: url('../img/common/ico_close_white.png');
				background-size: 12px;
				display: none;
				@include transition;
			}
		}

		.preview_img,
		.upload_img {
			margin: 2px;
		}
	}

	.preview_slider_container {
		position: relative;

		.preview_slider {
			width: 650px;

			.preview_slide {
				height: 215px;
				width: 215px;
				@include background;
			}

			.slick-slide {
				margin: 2px;
			}

			&__prev,
			&__next {
				height: 33px;
				width: 33px;
				position: absolute;
				top: calc(50% - 16px);
				cursor: pointer;
				@include background;
			}

			&__prev {
				background-image: url('../img/common/ico_prevSlide.png');
				left: 10px;
			}

			&__next {
				background-image: url('../img/common/ico_nextSlide.png');
				right: 10px;
			}
		}
	}

}

.edit_photo {
	&__header {
		@include flex(center, space-between);
	}
	.submit_btn {
		.container {
			justify-content: center;

			.btn {
				min-width: 130px;
				width: 130px;
				max-width: 130px;
			}
		}
	}
	.preview_img {
		cursor: pointer;

		&:hover {
			.delete_img {
				display: block;
				&:hover {
					background-color: rgba(0, 0, 0, 0.8);
				}
			}
		}
	}
}


/******************************
    SP
*******************************/

@include media($mobileSize) {

	.create_edit {
		.preview_gallery {

			.preview_img {
				height: 98px;
				width: 98px;

				.delete_img {
					height: 21px;
					width: 21px;
					top: 5px;
					right: 5px;
					background-size: 8px;
				}
			}

			.preview_img,
			.upload_img {
				margin: 1px;
			}
		}

		.preview_slider_container {
			width: 200px;

			.preview_slider {
				width: 100%;

				.preview_slide {
					height: 100px;
					width: 100px;
				}

				.slick-slide {
					margin: 1px;
				}

				&__prev,
				&__next {
					height: 20px;
					width: 20px;
					top: calc(50% - 10px);
				}

				&__prev {
					left: 0px;
				}

				&__next {
					right: 0px;
				}
			}
		}
	}
}