/**************************************

event-detail.scss

***************************************/
.event_detail {
	padding-top: 60px;
	padding-bottom: 55px;

	&__container {
		@include flex(flex-start, space-between);
		flex-wrap: wrap;
		min-width: 1140px;
	}

	section {
		padding: 0;
		margin: 0;
	}
}

.main_detail {
	width: 100%;
	max-width: 730px;

	h2 {
		font-size: 24px;
	}

	.event_cover {
		position: relative;
		width: 100%;
		height: 365px;
		@include background;
		overflow: visible;
	}

	.event_cat {
		height: 40px;
		width: 170px;
		background-color: $blue;
		color: $white;
		border-radius: 30px;
		position: absolute;
		bottom: -20px;
		left: 20px;
		@include flex(center, center);
	}

	.event_title {
		font-size: 30px;
		line-height: 1.3;
		margin-top: 40px;
	}

	.event_info {
		border-bottom: 1px solid $bordergray;

		&__title {
			font-size: 18px;
    		line-height: 1.5;
		}
		&__info {
		    padding: 20px 10px;
		}
		&__date,
		&__location,
		&__currency,
		&__users {
			position: relative;
			display: block;
			font-size: 15px;
			font-weight: 300;
			padding-left: 32px;
			padding-bottom: 25px;

			&::before {
				content: '';
				position: absolute;
				top: calc(50% - 12px);
				left: 0;
				transform: translateY(-50%);
				display: block;
				background-size: 100% auto;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		&__date {
			margin-top: 25px;

			&::before {
				width: 17px;
				height: 17px;
				background-image: url('../img/common/ico_time.png');
			}
		}

		&__location {
			&::before {
				width: 16px;
				height: 20px;
				background-image: url('../img/common/ico_location.png');
			}
		}

		&__currency {
			&::before {
				width: 17px;
				height: 17px;
				background-image: url('../img/common/ico_yen.png');
			}
		}

		&__users {
			&::before {
				background-image: url('../img/common/ico_event_user.png');
				width: 17px;
				height: 17px;
			}
		}

	}

	.event_description {
		padding-top: 30px;
		p {
			padding-top: 20px;
			font-size: 18px;
			line-height: 1.8;
		}
	}

	.photo_slider_container {

		h2 {
			margin-bottom: 10px;
			margin-top: 45px;
		}

		.photo_slider {
			width: 100%;
			position: relative;

			.photo_preview_slider {
				width: 100%;

				.preview_slide {
					height: 240px;
					max-width: 240px;
					@include background;
					cursor: pointer;
				}

				.slick-slide {
					margin: 6px;
				}

				&__prev,
				&__next {
					height: 33px;
					width: 33px;
					position: absolute;
					top: calc(50% - 16px);
					cursor: pointer;
					@include background;
				}

				&__prev {
					background-image: url('../img/common/ico_prevSlide.png');
					left: 10px;
				}

				&__next {
					background-image: url('../img/common/ico_nextSlide.png');
					right: 10px;
				}
			}
		}
		
	}

	.event_participants {
		&__header {
			@include flex(flex-start, space-between);
			margin-top: 40px;
			margin-bottom: 25px;

			.txt--blue {
				font-size: 14px;
				position: relative;
				padding-right: 20px;
				cursor: pointer;
				transition: all 0.5s ease;

				&::hover {
					cursor: pointer;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 14px;
					@include background;
					background-size: 14px;
					background-image: url('../img/common/ico_dropdown_down_blue.png');
				}
			}
		}

		ul.participants {
			@include flex(center, flex-start);
			flex-wrap: wrap;

			li {
				height: 50px;
				width: 50px;
				border-radius: 100%;
				@include background;
				margin-right: 10px;
				margin-bottom: 20px;
			}
		}
	}

	.event_comments {
		&__header {
			@include flex(flex-start, space-between);
			margin-top: 40px;
			margin-bottom: 25px;

			.txt--blue {
				font-size: 16px;
				position: relative;
				padding-right: 30px;
				cursor: pointer;
				transition: all 0.5s ease;

				&::hover {
					cursor: pointer;
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 8px;
					@include background;
					background-size: 8px;
					background-image: url('../img/common/ico_right_blue.png');
				}
			}
		}

		.comment_item {
			position: relative;
			@include transition;

			&:not(:last-of-type) {
				border-bottom: 1px solid $bordergray;
			}

			&__img {
				position: absolute;
				top: 20px;
				left: 0;
				height: 50px;
				width: 50px;
				@include background;
				border-radius: 100%;
			}

			&__details {
				position: relative;
				width: calc(100% - 75px);
				padding: 25px 15px 25px 0;
				margin-left: 75px;

				span {
					color: $blue;
				}
			}

			&__name {
				font-size: 18px;
				font-weight: 600;
				color: $shadow;
			}

			&__msg {
				font-size: 18px;
				color: #333;
				margin-top: 15px;
				line-height: 1.5;
			}

			&__date {
				font-size: 15px;
				color: #666;
				margin-top: 8px;
			}
		}

		.add_comment {
			border-top: 1px solid $bordergray;
			padding: 20px 0;

			.form_input {
				textarea {
					background-color: #f2f2f2;
					min-width: 100%;
					height: 120px;
					border: none;
					font-size: 16px;
				}

				&.reply_btn {
					@include flex(center, flex-end);

					.custom_checkbox {
						width: 200px;
					}

					.btn--primary {
						margin-top: 0;
					}
				}

			}
		}
	}

}

.sub_detail {
	width: 100%;
	max-width: 340px;

	.event_social {
		text-align: center;
		padding: 20px 0;
		border-top: 1px solid $bordergray;
		border-bottom: 1px solid $bordergray;

		ul {
			@include flex(center, center);
			li {
				font-size: 15px;
				padding: 0 12px;
				transition: all 0.5s ease;
				opacity: 1;

				&:hover {
					opacity: 0.5;
				}

				img {
					width: 50px;
					margin-bottom: 10px;
				}
			}
		}
	}

	.btn--primary_invert {
		margin-top: 20px;
		width: 100%;
	}

	.event_interest {
		@include flex(center, center);

		&.liked {
			span {
				&::before {
					background-image: url('../img/common/ico_heart_red.png');
				}
			}
		}

		span {
			font-size: 15px;
			padding-left: 30px;
			position: relative;
			margin-top: 20px;
			cursor: pointer;
			@include transition;

			&:hover {
				opacity: 0.7;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 19px;
				height: 16px;
				@include background;
				background-image: url('../img/common/ico_heart.png');
			}
		}
	}
}

.event_owner {
	@include flex(center, space-between);
	padding-bottom: 20px;
	border-bottom: 1px solid $bordergray;

	&__img {
		height: 50px;
		width: 50px;
		@include background;
		border-radius: 100%;
		overflow: hidden;
	}
	&__details {
		position: relative;
		width: 275px;
	}
	&__username {
		font-size: 18px;
		color: $shadow;
	}
	&__follow {
		padding-left: 20px;
		position: relative;
		color: $pink;
		margin-top: 8px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 14px;
			width: 14px;
			@include background;
			background-image: url('../img/common/ico_plus_red.png');
		}
	}
	&__mail {
		content: '';
		position: absolute;
		top: calc(50% - 17px);
		right: 0;
		height: 17px;
		width: 25px;
		@include background;
		background-image: url('../img/common/ico_mail.png');
	}
}

.gmap_canvas {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;

    iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100% !important;
	    height: 100% !important;
	}
}

.event_address {
	padding: 12px 25px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		height: 20px;
		width: 16px;
		left: 0;
		top: calc(50% - 10px);
		@include background;
		background-image: url('../img/common/ico_location_darkgray.png');
	}
}

.event_slider_container {
	position: relative;
	.event_slider {
		width: 100%;
		position: relative;

		.slick-slide {
			margin: 10px;
		}

		&__prev,
		&__next {
			height: 33px;
			width: 33px;
			position: absolute;
			top: 80px;
			cursor: pointer;
			@include background;
		}

		&__prev {
			background-image: url('../img/common/ico_prevSlide.png');
			left: 10px;
		}

		&__next {
			background-image: url('../img/common/ico_nextSlide.png');
			right: 10px;
		}

		.event_item {
			max-width: 300px;

			&:not(:nth-of-type(4n+4)) {
				margin-right: 20px;
			}

			&__img {
				width: 100%;
				height: 190px;
				@include background;
				background-color: $bordergray;
			}
			&__title {
				font-size: 18px;
	    		line-height: 1.5;
			}
			&__info {
			    padding: 20px 10px;
			}
			&__date,
			&__location,
			&__currency {
				position: relative;
				display: block;
				font-size: 15px;
				font-weight: 300;
				padding-left: 23px;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					display: block;
					background-size: 100% auto;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			&__date {
				margin-top: 22px;

				&::before {
					width: 14px;
					height: 14px;
					background-image: url('../img/common/ico_time.png');
				}
			}

			&__location {
				&::before {
					width: 12px;
					height: 15px;
					background-image: url('../img/common/ico_location.png');
				}
			}

			&__currency {
				&::before {
					width: 14px;
					height: 14px;
					background-image: url('../img/common/ico_yen.png');
				}
			}

			&__location,
			&__currency {
				margin-top: 10px;
			}
		}
	}
}


/******************************
    SP
*******************************/

@include media($mobileSize) {
	.event_detail {
		padding-top: 0;
		padding-bottom: 55px;

		&__container {
			padding: 0;
			min-width: 100%;
		}

		section {
			padding: 0 10px;

			&.event_main_detail {
				padding: 0;
				border-bottom: none;
			}
		}
	}

	.main_detail {
		width: 100%;
		max-width: 730px;

		h2 {
			font-size: 14px;
		}

		.event_cover {
			height: 160px;
			padding: 0 10px;
		}

		.event_cat {
			height: 28px;
			width: 110px;
			bottom: -14px;
			left: 10px;
			padding: 0 10px;
			font-size: 11px;
		}

		.event_title {
			font-size: 16px;
			margin-top: 30px;
			padding: 0 10px;
		}

		.event_info {
			border-bottom: none;
			padding: 0 10px;

			&__title {
				font-size: 16px;
	    		line-height: 1.5;
			}
			&__info {
			    padding: 12px 9px;
			}
			&__date,
			&__location,
			&__currency,
			&__users {
				font-size: 12px;
				padding-left: 20px;
				padding-bottom: 9px;

				&::before {
					top: calc(50% - 5px);
				}
			}

			&__date {
				margin-top: 9px;

				&::before {
					width: 13px;
					height: 13px;
				}
			}

			&__location {
				&::before {
					width: 11px;
					height: 14px;
				}
			}

			&__currency {
				&::before {
					width: 13px;
					height: 13px;
				}
			}

			&__users {
				&::before {
					width: 13px;
					height: 13px;
				}
			}

		}

		.event_map_container {
			border-bottom: 1px solid $bordergray;

			.event_address {
				padding: 12px 18px;
				margin: 0 10px;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					height: 15px;
					width: 12px;
					left: 0;
					top: calc(50% - 7px);
					@include background;
					background-image: url('../img/common/ico_location_darkgray.png');
				}
			}
		}

		.event_description {
			padding: 0 10px;
			padding-top: 20px;
			p {
				padding-top: 12px;
				font-size: 12px;
				line-height: 1.8;
			}
		}

		.photo_slider_container {

			h2 {
				margin-bottom: 10px;
				margin-top: 30px;
			}

			.photo_slider {
				width: 100%;
				position: relative;

				.photo_preview_slider {
					width: 100%;

					.preview_slide {
						height: 99px;
						max-width: 99px;
						@include background;
					}

					.slick-slide {
						margin: 1px;
					}

					&__prev,
					&__next {
						height: 20px;
						width: 20px;
						top: calc(50% - 10px);
					}

					&__prev {
						left: 0px;
					}

					&__next {
						right: 0px;
					}
				}
			}
			
		}

		.event_participants {
			&__header {
				margin-top: 30px;
				margin-bottom: 12px;

				.txt--blue {
					font-size: 12px;
					padding-right: 15px;

					&::after {
						width: 10px;
						background-size: 10px;
					}
				}
			}

			ul.participants {

				li {
					height: 35px;
					width: 35px;
					margin-right: 5px;
					margin-bottom: 10px;
				}
			}
		}

		.event_comments {
			&__header {
				@include flex(flex-start, space-between);
				margin-top: 20px;
				margin-bottom: 15px;

				.txt--blue {
					font-size: 12px;
					padding-right: 12px;

					&::after {
						width: 6px;
						background-size: 6px;
					}
				}
			}

			.comment_item {

				&__img {
					top: 12px;
					height: 27px;
					width: 27px;
				}

				&__details {
					padding: 12px 10px 12px 0;
					margin-left: 0;
					padding-top: 17px;
					width: 100%;
				}

				&__name {
					font-size: 14px;
					margin-left: 35px;
					width: calc(100% - 35px);
				}

				&__msg {
					font-size: 12px;
					margin-top: 20px;
				}

				&__date {
					font-size: 12px;
					position: absolute;
					top: 8px;
					right: 0;
					text-align: right;
				}
			}

			.add_comment {
				border-top: none;
				padding:0 0 20px 0;

				.form_input {
					textarea {
						height: 80px;
						font-size: 16px;
					}

					&.reply_btn {
						@include flex(center, flex-end);

						.custom_checkbox {
							width: 200px;
						}

						.btn--primary {
							margin-top: 0;
						}
					}

				}
			}
		}

	}

	.sub_detail {
		width: 100%;
		max-width: 340px;
		border-top: 1px solid $bordergray;

		.sub_detail_clickables {
			@include flex(center, space-between);
			padding-top: 16px;
		}

		.event_social {
			text-align: center;
			padding: 0 10px;
			border: none;
			width: 100px;
			@include flex(center, space-between);

			.twitter {
				width: 14px;
			}

			.fb {
				width: 8px;
			}

			.google {
				width: 17px;
			}
		}

		.btn--primary_invert {
			margin-top: 20px;
			width: 100%;
		}

		.event_interest {
			@include flex(center, center);
			width: 130px;

			span {
				font-size: 11px;
				padding-left: 18px;
				margin-top: 0;

				&::before {
					top: 0;
					width: 14px;
					height: 12px;
				}
			}
		}
	}

	.event_owner {
		&.sp {
			display: flex !important;
		}
		@include flex(center, space-between);
		padding: 20px 10px;
		border-bottom: 1px solid $bordergray;

		&__img {
			height: 35px;
			width: 35px;
		}
		&__details {
			width: calc(100% - 45px);
		}
		&__username {
			font-size: 16px;
		}
		&__follow {
			padding-left: 16px;
			margin-top: 4px;
			font-size: 12px;

			&::before {
				height: 10px;
				width: 10px;
			}
		}
		&__mail {
			top: calc(50% - 7px);
			height: 14px;
			width: 20px;
		}
	}

	.gmap_canvas {
	    position: relative;
	    padding-bottom: 0; // This is the aspect ratio
	    height: 120px;
	    overflow: hidden;

	    iframe {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100% !important;
		    height: 120px !important;
		}
	}

	.event_address {
		padding: 12px 25px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			height: 20px;
			width: 16px;
			left: 0;
			top: calc(50% - 10px);
			@include background;
			background-image: url('../img/common/ico_location_darkgray.png');
		}
	}

	.event_slider_container {
		position: relative;
		.event_slider {
			width: 100%;
			position: relative;

			.slick-slide {
				margin: 10px;
			}

			&__prev,
			&__next {
				height: 20px;
				width: 20px;
				top: 140px;
			}

			&__prev {
				left: 0px;
			}

			&__next {
				right: 0px;
			}

			.event_item {
				max-width: 100%;

				&:not(:nth-of-type(4n+4)) {
					margin-right: 20px;
				}

				&__img {
					width: 100%;
					height: 190px;
					@include background;
					background-color: $bordergray;
				}
				&__title {
					font-size: 18px;
		    		line-height: 1.5;
				}
				&__info {
				    padding: 20px 10px;
				}
				&__date,
				&__location,
				&__currency {
					position: relative;
					display: block;
					font-size: 15px;
					font-weight: 300;
					padding-left: 23px;

					&::before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						display: block;
						background-size: 100% auto;
						background-position: center;
						background-repeat: no-repeat;
					}
				}

				&__date {
					margin-top: 22px;

					&::before {
						width: 14px;
						height: 14px;
						background-image: url('../img/common/ico_time.png');
					}
				}

				&__location {
					&::before {
						width: 12px;
						height: 15px;
						background-image: url('../img/common/ico_location.png');
					}
				}

				&__currency {
					&::before {
						width: 14px;
						height: 14px;
						background-image: url('../img/common/ico_yen.png');
					}
				}

				&__location,
				&__currency {
					margin-top: 10px;
				}
			}
		}
	}
}