/**************************************
	event
***************************************/
.event {

	header {
		@include background;
		background-image: url('../img/common/bg_childheader.png');
		height: 145px;
		width: 100%;
		@include flex(center, center);

		.search__container {
			width: 800px;
			max-width: calc(100% - 20px);
			margin: 0 auto;
			@include flex(center, center);
		}

		.locate {
			height: 48px;
			width: 120px;
			border-radius: 25px;
			border: 1px solid rgba(255, 255, 255, 0.3);
			cursor: pointer;
			background-color: rgba(0, 0, 0, 0.3);
			@include transition;

			&:hover {
				background-color: $pink;
			}

			span {
				padding-left: 20px;
				position: relative;
				color: $white;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 14px;
					width: 12px;
					@include background;
					background-image: url('../img/common/ico_location_white.png')
				}
			}
		}

		input[type=search] {
			width: 600px;
			height: 48px;
			@include flex(center, flex-start);
			max-width: calc(100% - 20px);
			padding: 13px 0 13px 64px;
			-webkit-appearance: none;
			border: 0;
			border-radius: 25px;
			background-image: url('../img/common/ico_search.png');
			background-size: 24px 24px;
			background-position: left 25px center;
			background-repeat: no-repeat;
			background-color: rgba(255,255,255,.8);
			text-align: left;
			margin: 0 auto;
		}

		#datepicker {
			display: block;
			margin-top: 0;
			margin-left: 15px;
			width: 50px;
			height: 50px;
			min-width: auto;
			padding: 0;
			border-radius: 50%;
			border: 0;
			background-color: transparent;
			background-image: url('../img/common/ico_calendar.png');
			background-size: 100% auto;
			background-position: center;
			cursor: pointer;
			@include transition;

			&:hover {
				background-image: url('../img/common/ico_calendar_pink.png');
			}
		}
	}
}

/******************************
    event sp
*******************************/

@include media($mobileSize) {
	.event {
		header {
			height: 120px;

			.search__container {
				flex-wrap: wrap;
			}

			.locate {
				height: 30px;
			}

			input[type=search] {
				width: 245px;
				height: 30px;
		    	background-size: 15px;
    			background-position: left 10px center;
    			margin-bottom: 10px;
			}

			#datepicker {
				width: 30px;
				height: 30px;
			}
			
		}
	}
}