/**************************************

event-detail-photo.scss

***************************************/
.event_detail_photo {
	.preview_gallery {
		@include flex(flex-start, flex-start);
		flex-wrap: wrap;

		.preview_img {
			height: 239px;
			width: 239px;
			@include background;
			position: relative;
		}

		.preview_img,
		.upload_img {
			margin: 2px;
		}
	}

	.pagination {
		margin-top: 25px;
	}
}

/******************************
    SP
*******************************/

@include media($mobileSize) {
	.event_detail_photo {
		.preview_gallery {
			@include flex(flex-start, center);
			flex-wrap: wrap;

			.preview_img {
				height: 98px;
				width: 98px;
			}

			.preview_img,
			.upload_img {
				margin: 1px;
			}
		}

		.pagination {
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}