/**************************************
footer
***************************************/

footer {
	background: #1b1d1f;
	padding-bottom: 15px;

	.footer__container {
		padding-top: 50px;
		text-align: center;

		.logo__footer {
			width: 347px;
			margin: 0 auto;
		}

		.btn__inquiry {
			margin: 0 auto;
			display: block;
			padding: 18px 0;
			max-width: 225px;
			color: $white;
			text-align: center;
			border: 1px solid $white;
			border-radius: 30px;
			@include transition;

			&:hover {
				background: $white;
				color: #1b1d1f;
			}
		}

		.download__link {
			display: inline-block;
			margin: 10px auto 15px;
			@include clearfix;

			.btn__appstore,
			.btn__googleplay {
				float: left;
				display: block;
				width: 270px;
				height: 55px;
				background-size: 100% auto;
				background-position: center;
				background-repeat: no-repeat;
				@include transition;
				@include hoverOpacity;
			}

			.btn__appstore {
				background-image: url('../img/common/btn_appstore.png');
			}

			.btn__googleplay {
				margin-left: 35px;
				background-image: url('../img/common/btn_googleplay.png');
			}
		}

		.company__list {
			display: table;
			margin: 30px auto 0;

			.company__item {
				display: table-cell;
				vertical-align: middle;

				&:first-child {
					position: relative;

					img {
						margin-right: 19px;
						max-width: 124px;
					}

					&::after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						display: block;
						width: 1px;
						height: 100%;
						background: #8d8e8f;
					}
				}
				&:last-child {
					img {
						margin-left: 19px;
						max-width: 112px;
					}
				}
			}
		}

		small {
			display: block;
			margin: 25px auto 0;
			font-size: 12px;
			font-family: $fontRoboto;
			font-weight: 300;
			letter-spacing: 0.2em;
			color: $white;
			text-align: center;
			text-transform: uppercase;
			opacity: 0.6;
		}
	}
}


/******************************
    footer sp
*******************************/

@include media($mobileSize) {
	footer {
		padding-bottom: 15px;

		.footer__container {
			padding-top: 35px;
			text-align: center;

			.logo__footer {
				width: 140px;
				margin: 0 auto;
			}

			.btn__inquiry {
				margin: 0 auto;
				display: block;
				padding: 18px 0;
				max-width: 225px;
				color: $white;
				text-align: center;
				border: 1px solid $white;
				border-radius: 30px;
				@include transition;

				&:hover {
					background: $white;
					color: #1b1d1f;
				}
			}

			.download__link {
				display: block;
				margin: 20px auto 38px;
				@include clearfix;

				.btn__appstore,
				.btn__googleplay {
					float: none;
					margin: 0 auto;
					width: 245px;
					height: 36px;
					background-size: 100% auto;
					background-position: center;
					background-repeat: no-repeat;
					@include transition;
					@include hoverOpacity;
				}

				.btn__appstore {
					background-image: url('../img/common/btn_appstore_sp.png');
					margin-bottom: 10px;
				}

				.btn__googleplay {
					margin-left: auto;
					background-image: url('../img/common/btn_googleplay_sp.png');
				}
			}

			.company__list {
				margin: 30px auto 0;

				.company__item {

					&:first-child {
						position: relative;

						img {
							margin-right: 15px;
							max-width: 85px;
						}

						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							display: block;
							width: 1px;
							height: 100%;
							background: #8d8e8f;
						}
					}
					&:last-child {
						img {
							margin-left: 15px;
							max-width: 80px;
						}
					}
				}
			}

			small {
				margin: 10px auto 0;
				font-size: 10px;
			}
		}
	}
}