/**************************************
	header
***************************************/

header {
	.header__container {
		position: relative;
		height: 70px;
		z-index: 999;

		.column {
			display: table;
			width: 100%;
			height: 100%;

			.column__item {
				display: table-cell;
				vertical-align: middle;
				@include clearfix;

				&:last-child {
					padding-right: 30px;
				}

				.logo {
					display: block;
					margin-left: 40px;
					width: 147px;
					@include hoverOpacity;
					@include transition;
				}

				.btn__header, .list__nav {
					float: right;
				}

				.btn__header {
					position: relative;
					display: block;
					min-width: 160px;
					padding: 11px 25px;
					font-size: 14px;
					text-align: center;
					background: $white;
					border: 1px solid  $pink;
					border-radius: 30px;
					box-sizing: border-box;
					@include transition;
					@include hoverOpacity;

					span {
						margin-left: 26px;
						color: $pink;
					}

					&::before,
					&::after {
						content: '';
						position: absolute;
						display: block;
						background: $pink;
					}

					&::before {
						content: '';
						top: 50%;
						transform: translateY(-50%);
						left: 25px;
						display: block;
						width: 15px;
						height: 1px;
					}

					&::after {
						content: '';
						top: 50%;
						transform: translateY(-50%);
						left: 31.5px;
						display: block;
						width: 1px;
						height: 15px;
					}
				}

				.list__nav {
					margin-top: 10px;
					@include clearfix;

					li {
						position: relative;
						float: left;
						padding: 0 20px;

						&:not(:last-child) {
							&::after {
								content: '';
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								right: 0;
								display: block;
								width: 1px;
								height: 18px;
								transform: translateY(-50%);
								background: #8d8e8f;
							}
						}

						a {
							@include transition;
							@include hoverOpacity;
						}
					}
				}

				.user__icon {
					float: right;
					@include clearfix;

					.btn__notif {
						float: left;
						display: block;
						margin-top: 6px;
						width: 21px;
						height: 23px;
						background-image: url('../img/common/ico_notif.png');
						background-size: 100% auto;
						background-repeat: no-repeat;
						background-position: center;
					}

					&::before {
						content: '';
					}
				}
			}
		}
	}

	.main_header {
		height: 70px;
		width: 100%;
		position: relative;
		display: block;
		background-color: $white;
		border-bottom: 1px solid $bordergray;
		@include flex(center, space-between);

		&__col {
			height: 100%;
			@include flex(center, space-between);

			&:first-of-type {
				padding: 0 40px;
				border-right: 1px solid $bordergray;
				width: calc(100% - 180px);
			}

			&:last-of-type {
				width: 180px;
				padding: 0 50px 0 40px;
			}

			.logo {
				width: 150px;
			}

			.btn--primary {
				width: 160px;

				span {
					padding-left: 20px;
					position: relative;

					&::before {
						position: absolute;
						content: '';
						left: 0;
						top: 0;
						height: 100%;
						width: 100%;
						background-image: url('../img/common/ico_plus_red.png');
						background-size: 15px;
						background-position: left center;
						background-repeat: no-repeat;
					}
				}

				&:hover {
					span::before {
						background-image: url('../img/common/ico_plus_white.png');
					}

				}
			}

			.user_notif {
				position: relative;

				.notif {
					width: 18px;
					height: 21px;
					@include background;
					background-image: url('../img/common/ico_notif.png');
					background-size: 18px;
					cursor: pointer;
					position: relative;

					&.on {
						&::before {
							content: '';
							position: absolute;
							width: 5px;
							height: 5px;
							border-radius: 100%;
							background-color: $pink;
							right: 0;
							top: 0;
						}
					}
				}

				&__list {
					position: absolute;
					right: 0;
					top: calc(100% + 25px);
					height: auto;
					width: 360px;
					border-radius: 5px;
					background-color: $white;
					-webkit-box-shadow: 1px 1px 15px 0px rgba(74,74,74,0.25);
					-moz-box-shadow: 1px 1px 15px 0px rgba(74,74,74,0.25);
					box-shadow: 1px 1px 15px 0px rgba(74,74,74,0.25);
					z-index: 50;
					display: none;

					&::before,
					&::after {
						content: '';
					    position: absolute;
					    top: -8px;
					    width: 0;
					    height: 0;
					    border-top: 0;
					    margin-left: 0;
						
					}

					&::before {
					    right: 13px;
					    border: 8px solid transparent;
					    border-bottom-color: $white;
					    margin-top: -8px;
					    z-index: 1;
					}

					&::after {
					    right: 11px;
					    border: 10px solid transparent;
					    border-bottom-color: $dirtywhite;
					    margin-top: -12px;
					    z-index: 0;
					}
				}

				.notif_tab {
					width: 100%;
					@include flex(center, space-between);
					border-bottom: 1px solid $bordergray;

					li {
						width: 50%;
						@include flex(center, center);

						a {
							@include flex(center, center);
							font-size: 18px;
							height: 50px;
							color: $shadow;
							cursor: pointer;

							&.active {
								color: $pink;
								border-bottom: 2px solid $pink;
							}

							&:hover {
								color: $pink;
							}
						}
					}
				}

				.notif_panel {
					display: none;

					.notif_item {
						position: relative;
						@include transition;

						&:last-of-type {
							.notif_item__details {
								border-bottom: none;
							}
						}

						&:hover {
							background-color: $dirtywhite;
						}

						&__img {
							position: absolute;
							top: 15px;
							left: 20px;
							height: 30px;
							width: 30px;
							@include background;
							border-radius: 100%;
						}

						&__details {
							border-bottom: 1px solid $bordergray;
							position: relative;
							width: calc(100% - 60px);
							padding: 20px 15px 15px 0;
							margin-left: 60px;
						}

						&__name {
							font-size: 16px;
							color: $shadow;
							max-width: 190px;
						}

						&__msg {
							font-size: 16px;
							color: #333;
							margin-top: 8px;
							line-height: 1.5;
						}

						&__date {
							font-size: 14px;
							color: #666;
							position: absolute;
							right: 15px;
							top: 20px;
						}
					}

					.see_all {
						width: 100%;
						height: 50px;
						font-size: 18px;
						@include flex(center, center);
						border-top: 1px solid $bordergray;
						color: $blue;

						&:hover {
							background-color: $dirtywhite;
						}
					}
				}
			}

			.user_nav {
				position: relative;

				.user_icon {
					width: 40px;
					height: 40px;
					@include background;
					cursor: pointer;
					position: relative;
				}

				&__list {
					position: absolute;
					right: 0;
					top: calc(100% + 25px);
					height: auto;
					width: 230px;
					border-radius: 5px;
					background-color: $white;
					-webkit-box-shadow: 1px 1px 15px 0px rgba(74,74,74,0.25);
					-moz-box-shadow: 1px 1px 15px 0px rgba(74,74,74,0.25);
					box-shadow: 1px 1px 15px 0px rgba(74,74,74,0.25);
					z-index: 50;
					display: none;

					&::before,
					&::after {
						content: '';
					    position: absolute;
					    top: -8px;
					    width: 0;
					    height: 0;
					    border-top: 0;
					    margin-left: 0;
						
					}

					&::before {
					    right: 13px;
					    border: 8px solid transparent;
					    border-bottom-color: $white;
					    margin-top: -8px;
					    z-index: 1;
					}

					&::after {
					    right: 11px;
					    border: 10px solid transparent;
					    border-bottom-color: $dirtywhite;
					    margin-top: -12px;
					    z-index: 0;
					}


					ul {
						padding: 20px 0;

						li {

							// &:not(:first-of-type) a {
							// 	padding-top: 16px;
							// }
							
							a {
								padding: 8px 30px;
								font-size: 16px;
								color: $lightgray;
								@include transition;
								@include flex(center, flex-start);

								&.bordered {
									border-bottom: 1px solid $bordergray;
									height: 50px;
								}

								&.active {
									color: $pink;

									span {
										border-bottom: 1px solid $pink;
									}
								}

								&:hover {
									background-color: $dirtywhite;
								}
							}
						}
					}
				}
			}
		}
	}
}


/******************************
    header sp
*******************************/

@include media($mobileSize) {
	header {

		.main_header {
			height: 40px;
			justify-content: flex-start;

			&__col {

				&:first-of-type {
					padding: 0;
					width: 40px;
					cursor: pointer;
				}

				&:nth-of-type(2) {
					width: auto;
					padding: 0 10px;
					@include flex(center, center);
				}

				.logo {
					width: 85px;
				}

				.btn--menu_toggle {
					height: 9px;
					@include flex(center, space-between);
					flex-direction: column;
					margin: 0 auto;
					cursor: pointer;

					div {
						height: 1px;
						width: 12px;
						background-color: $black;
					}
				}
			}

			&__menu {
				background-color: $white;
				position: absolute;
				z-index: 50;
				top: calc(100% + 1px);
				left: 0;
				width: 100%;
				height: 0;
				overflow: hidden;
				transition: all 0.5s ease;
				transition-timing-function: cubic-bezier(0.24, 0.31, 0.66, 0.75);

				&.visible {
					height: 350px;
				}

				.sp_menu_content {
					padding: 15px 30px;
				}

				ul {
					margin-bottom: 30px;
					li {
						padding: 0 13px;
						border-bottom: 1px solid $bordergray;
						height: 45px;
						@include flex(center, flex-start);
						
						a {
							padding: 5px 25px;
							color: $darkgray;
							position: relative;
							@include transition;

							&:hover {
								opacity: 0.7;
							}

							&::before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
								background-position: left center;
								background-repeat: no-repeat;
							}

							&.search {
								&::before {
									background-image: url('../img/common/ico_search_gray.png');
									background-size: 14px;
								}
							}

							&.user {
								&::before {
									background-image: url('../img/common/ico_user_gray.png');
									background-size: 15px;
								}
							}

							&.notif {
								&::before {
									background-image: url('../img/common/ico_bell_gray.png');
									background-size: 14px;
								}
							}
						}
					}
				}

				.btn {
					width: 100%;
					height: 35px;
					margin-top: 10px;
					border-radius: 30px;
					font-size: 13px;
				}

				.social_btns {
					@include flex(center, space-between);
					width: 90px;
					margin: 15px auto;

					a {
						width: 27px;
						height: 27px;
					}
				}

				p {
					text-align: center;
					text-transform: uppercase;
					color: $gray01;
					font-size: 10px;
				}
			}
		}
	}
}