/**************************************
home.scss
***************************************/

header.home {
	position: relative;
	.header__container {
		.column {
			.column__item {
				.btn__header {
					background: rgba(0,0,0,.1);
					border: 1px solid rgba(255,255,255,.1);

					span {
						color: $white;
					}

					&::before,
					&::after {
						background: $white;
					}
				}

				.list__nav {
					li {
						a {
							color: $white;
						}
					}
				}
			}
		}
	}
	.main__kv {
		margin-top: -70px;
		width: 100%;
		position: relative;

		.search__container {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: 0 auto;
			display: block;
			text-align: center;
			@include clearfix;

			p {
				margin-top: 20px;
				color: $white;
				font-size: 16px;
				letter-spacing: 0.05em;
			}
		}

	}
	input[type=search] {
		width: 600px;
		height: 48px;
		@include flex(center, flex-start);
		max-width: calc(100% - 20px);
		padding: 13px 0 13px 64px;
		-webkit-appearance: none;
		border: 0;
		border-radius: 25px;
		background-image: url('../img/common/ico_search.png');
		background-size: 24px 24px;
		background-position: left 25px center;
		background-repeat: no-repeat;
		background-color: rgba(255,255,255,.8);
		text-align: left;
		margin: 0 auto;
	}
}

main.home {
	.section__01 {
		padding-top: 80px;

		.fullinner__container {
			.image__container {
				margin: 40px auto 0;
				@include clearfix;

				.img__item {
					position: relative;
					float: left;
					width: calc(16.66% - 2px);
					margin-right: 2px;
					@include transition;
					@include hoverOpacity;

					&.full {
						width: calc(33.36% - 2px);
					}

					&:nth-of-type(5),
					&:nth-of-type(10) {
						margin-right: 0;
					}

					&:nth-of-type(n+6) {
						margin-top: 3px;
					}

					.details {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						right: 0;
						display: block;
						margin: 0 auto;
						text-align: center;
						color: $white;

						p {
							&:first-child {
								font-size: 21px;
								letter-spacing: 0.1em;
							}

							&:last-child {
								margin-top: 15px;
								font-family: $fontBarlow;
								font-size: 14px;
								letter-spacing: 0.08em;

								span {
									display: inline-block;
									font-weight: 300;
									font-size: 30px;
									letter-spacing: 0.08em;
								}
							}
						}
					}
				}
			}
		}
	}

	.section__02 {
		.inner__container {
			.featured__list {
				margin-top: 39px;
			}
		}
	} /* .section__02 */

	.section__03 {
		padding-bottom: 0;
		background-image: url('../img/top/bg_app.png');
		background-size: cover;

		.inner__header {
			h2 {
				padding-top: 50px;
				display: block;
				margin: 0 auto;
				max-width: 347px;
			}
		}

		.inner__container {
			text-align: center;

			.btn__container {
				margin-top: 18px;
				display: inline-block;
				@include clearfix;

				a {
					float: left;
					width: 270px;
					height: 55px;
					background-size: 100% auto;
					background-repeat: no-repeat;
					background-position: center;
					@include transition;
					@include hoverOpacity;

					&:first-child {
						margin-right: 32px;
					}

					&.btn--appstore {
						background-image: url('../img/common/btn_appstore.png');
					}

					&.btn--googleplay {
						background-image: url('../img/common/btn_googleplay.png');
					}
				}
			}

			.img--iphone {
				max-width: 826px;
				margin-top: 18px;
				margin-left: 100px;
			}
		}
	}
}

footer.home {
	margin-top: -15px;

	.footer__container {
		padding-top: 66px;
	}
}



/******************************
    SP
*******************************/

@include media($mobileSize) {
	header.home {
		height: auto;

		input[type=search] {
			width: 250px;
			height: 30px;
	    	background-size: 15px;
			background-position: left 10px center;
		}

		.main_header {
			background-color: transparent;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;

			&__col {
				&:first-of-type {
					border-right: 1px solid rgba(255, 255, 255, 0.2);
				}
				.btn--menu_toggle {
					div {
						background-color: $white;
					}
				}
			}
		}

		.main__kv {
			margin-top: 0;
			width: 100%;
			position: relative;

			.search__container {
				position: absolute;
				top: 65%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				margin: 0 auto;
				display: block;
				text-align: center;
				@include clearfix;

				p {
					margin-top: 7px;
					font-size: 10px;
				}
			}
		}
	}
	main.home {
		section {
			padding: 25px 10px !important;

			.inner__header {
				h2{
					font-size: 16px;
					font-weight: bold;
				}

				span {
					font-size: 10px;
					margin-top: 8px;
				}
			}
		}
		.section__01 {
			padding: 24px 0px !important;

			.fullinner__container{
				.image__container {
					margin: 15px auto 0;
					.img__item{
						width: calc(33.33% - 1px);
						margin-right: 1px;
						margin-bottom: 1px;

						&:nth-of-type(n+6) {
							margin-top: 0px;
						}

						&:nth-last-of-type(1) {
							margin-left: 1px;
						}

						&.full {
							width: calc(66.8% - 1px);
							margin-right: 0px;
						}

						.details {
							p {
								&:first-child {
									font-size: 14px;
								}
								&:last-child {
									font-size: 11px;
									margin-top: 2px;

									span {
										font-size: 20px;
									}
								}
							}
						}
					}
				}

				.btn__main {
					box-sizing: border-box;
					margin: 10px auto 0px;
					padding: 0;
					@include flex(center, center);
					height: 35px;
					font-size: 13px;
					max-width: calc(100% - 20px);
				}
			}
		}

		.section__02 {
			.inner__container {

				.btn__main {
					padding: 12px 0;
					font-size: 13px;
					margin: 0px auto 0;
				}

				.featured__list {
					margin-top: 15px;

					.feature__item {
						width: 100% !important;
						margin-left: auto;
						margin-right: auto;
						float: none;

						&:nth-of-type(n+5) {
							margin-top: 0px;
						}
					}

					.feature__details {
						padding: 14px 10px 30px;

						

						h3{
							font-size: 16px;
							font-weight: 600;
						}

						.date {
							margin-top: 15px;
						}
					}
				}
			}
		}
		
		.section__03 {
			.inner__header {
				h2 {
					width: 141px;
					padding-top: 0px;
				}
				.pc {
					display: none !important;
				}
			}

			.inner__container {
				.img--iphone {
					margin: 18px auto -44px;
					width: 237px;
				}

				.btn__container {
					a {
						display: block;
						float: none;
						margin-left: auto;
						margin-right: auto !important;

						&.btn--appstore {
							background-image: url('../img/common/btn_appstore_sp.png');
						}

						&.btn--googleplay {
							background-image: url('../img/common/btn_googleplay_sp.png');
						}
					}
				}
			}
		}

	}
		
}