/**************************************

map.scss

***************************************/

.map {
	@include flex(flex-start, center);
	flex-wrap: wrap;

	&__col {
		width: 50%;
	}

	.map_event {
		padding: 30px;

		.form_input {
			width: 100%;
			input.input--search {
				width: 100%;
				background-color: $white !important;
			}
		}

		.event_list {
			.event_item {
				width: calc(50% - 10px);

				&:not(:nth-of-type(4n+4)) {
					margin-right: 0;
				}

				&:not(:nth-of-type(even)) {
					margin-right: 20px;
				}
			}
		}
	}

	.map_container {
		position: relative;

		.previous {
			position: absolute;
			width: calc(100% - 20px);
			height: 30px;
			left: 0;
			top: 5px;
			z-index: 2;
			margin: 0 10px 0 40px;

			.form_input {
				width: calc(100% - 30px);
				margin: 0;
				input.input--search {
					width: 100%;
					height: 30px;
					background-color: $white !important;
				}
			}
		}

		.event_list {
			position: absolute;
			width: calc(100% - 20px);
			margin: 0 10px;
			bottom: 10px;
			left: 0;
			z-index: 2;
			background-color: $white;

			.event_item {
				width: 100%;
			}
		}

		.gmap_canvas {
		    position: relative;
		    padding-top: 60px;
		    padding-bottom: 100%;
		    height: 100%;
		    overflow: hidden;

		    iframe {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100% !important;
			    height: 100% !important;
			}
		}
	}
}

/******************************
    SP
*******************************/

@include media($mobileSize) {
	.map {
		&__col {
			width: 100%;
		}

		.map_container {
		.gmap_canvas {
			    position: relative;
			    padding-top: 60px;
			    padding-bottom: 100%;
			    height: 500px;
			    overflow: hidden;

			    iframe {
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100% !important;
				    height: 100% !important;
				}
			}
		}
	}
}