/**************************************

mixins.scss

***************************************/

/*メディアクエリ
-----------------------*/
@mixin media($breakPoint) {
	@media screen and (max-width: $breakPoint) {
		@content;
	}
}
/*  clearfix
-----------------------*/
@mixin clearfix(){
	&::before,
	&::after{
		content: '';
		display: table;
	}
	&::after{
		clear: both;
	}
}
/*  font-size
-----------------------*/
@mixin fontsize($size: 14, $base: 14) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}
/*  transition
-----------------------*/
@mixin transition {
	transition: all .2s linear;
}

@mixin hoverOpacity {
	&:hover {
		opacity: .7;
	}
}
/* render text
----------------------*/
@mixin renderText {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
@mixin absolute($top, $left, $width, $height) {
	position: absolute;
	top: $top;
	left: $left;
	width: $width;
	height: $height;
}

@mixin background {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin center {
	margin: 0 auto;
	text-align: center;
}

@mixin flex($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;

	&:after {
		content: '';
		flex: auto;
	}
}



@keyframes fadeIn {
  from {
    // opacity: 0;
    display: none;
  }
  to {
    // opacity: 1;
    display: block;
  }
}

@keyframes fadeExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}