/**************************************

modal.scss

***************************************/
.modal {
	display: none;
	overflow: hidden;

	&.visible {
		display: block;
	}

    &__close {
    	content: '';
    	position: absolute;
    	height: 25px;
    	width: 25px;
    	right: 0;
    	top: -41px;
    	z-index:10;
    	cursor: pointer;
    	@include background;
    	background-image: url('../img/common/ico_close_white_01.png')
    }

    &__image_count {
    	position: absolute;
    	width: 100%;
    	top: -40px;
    	left: 0;
    	text-align: center;
    	color: $white;
    	font-size: 16px;

    	span {
    		font-style: italic;
    	}

    	.current {
    		font-size: 27px;
    		letter-spacing: 0.1em;
    	}
    }

	&__flexcontainer {
	    @include flex(center, center);
		width: 100%;
		height: 100%;
	}

	// modal slider
	&--slider {
	    position: fixed;
	    z-index: 5;
	    top: 0;
	    left: 0;
	    height: 100vh;
	    width: 100%;
	    background-color: rgba(0, 0, 0, 0.5);


	    .modal_slider_container {
	    	position: relative;
	    	width: 600px;
	    	height: 600px;
	    }

	    .modal_slider {
			width: 600px;
			position: relative;

			&__prev,
			&__next {
				height: 33px;
				width: 33px;
				position: absolute;
				top: calc(50% - 17px);
				cursor: pointer;
				@include background;
			}

			&__prev {
				background-image: url('../img/common/ico_prevSlide.png');
				left: -80px;
			}

			&__next {
				background-image: url('../img/common/ico_nextSlide.png');
				right: -80px;
			}

			.modal_item {
				width: 600px;
				height: 600px;

				&__img {
					width: 100%;
					height: 100%;
					@include background;
					background-color: $bordergray;
				}
			}
		}
	}

	// modal comments
	&--comments {
		position: fixed;
	    z-index: 5;
	    top: 0;
	    left: 0;
	    height: 100vh;
	    width: 100%;
	    background-color: rgba(0, 0, 0, 0.5);


	    .modal_comment_container {
	    	position: relative;
	    	width: 810px;
	    	height: 810px;
	    	background: $white; 

	    	.event_comments {
	    		width: 100%;
	    		height: 100%;
	    		overflow-y: scroll;
	    		padding: 50px 20px 0;

	    		/* width */
				&::-webkit-scrollbar {
				    width: 5px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
				    background: $white; 
				}
				 
				/* Handle */
				&::-webkit-scrollbar-thumb {
				    background: $dirtywhite; 
				    cursor: pointer;
				}

				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
				    background: $bordergray; 
				}

				&__header {
					@include flex(flex-start, space-between);
					margin-bottom: 25px;
					font-size: 24px;
					font-weight: 600;
				}

				.comment_item {
					position: relative;
					@include transition;

					&:not(:last-of-type) {
						border-bottom: 1px solid $bordergray;
					}

					&__img {
						position: absolute;
						top: 20px;
						left: 0;
						height: 50px;
						width: 50px;
						@include background;
						border-radius: 100%;
					}

					&__details {
						position: relative;
						width: calc(100% - 75px);
						padding: 25px 15px 25px 0;
						margin-left: 75px;

						span {
							color: $blue;
						}
					}

					&__name {
						font-size: 18px;
						font-weight: 600;
						color: $shadow;
					}

					&__msg {
						font-size: 18px;
						color: #333;
						margin-top: 15px;
						line-height: 1.5;
					}

					&__date {
						font-size: 15px;
						color: #666;
						margin-top: 8px;
					}
				}

				.add_comment {
					border-top: 1px solid $bordergray;
					padding: 20px 0;

					.form_input {
						textarea {
							background-color: #f2f2f2;
							min-width: 100%;
							height: 120px;
							border: none;
							font-size: 16px;
						}

						&.reply_btn {
							@include flex(center, flex-end);

							.custom_checkbox {
								width: 200px;
							}

							.btn--primary {
								margin-top: 0;
							}
						}

					}
				}
			}
	    }
	}

	// modal login-register
	&--login, &--register {
		.form__container {
			input {
				margin: 0 auto;
				display: block;
				padding: 15px 0;
				border-radius: 30px;
				font-size: 16px;
				min-width: 330px;
				text-align: center;
			}

			input[type="submit"] {
				margin-top: 20px;
				color: $white;
				background: $pink;
				border: 1px solid $pink;
				@include transition;
				@include hoverOpacity;
				cursor: pointer;
			}
		}
	}
}

// nicole scss
.modal {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.4);
	z-index: 99;

	.modal__inner {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
		padding: 40px 0;
		max-width: 492px;
		border-radius: 10px;
		background: $white;

		.ico__close {
			position: absolute;
			top: 15px;
			right: 15px;
			display: block;
			width: 15px;
		}

		figure {
			margin: 0 auto;
			max-width: 96px;
		}

		.or--img {
			display: block;
			margin: 35px auto 0;
			max-width: 330px;
		}

		.form__container {
			margin-top: 23px;
		}

		.social__container {
			margin: 20px auto 0;
			max-width: 260px;
			@include clearfix;

			li {
				float: left;
				width: calc(33.33% - 16.67px);

				&:not(:last-child) {
					margin-right: 25px;
				}

				a {
					display: block;
					@include transition;
					@include hoverOpacity;
				}
			}
		}

		.a--register {
			position: relative;
			display: block;
			margin-top: 40px;
			font-size: 14px;
			letter-spacing: 0.05em;
			text-align: center;
			@include transition;
			@include hoverOpacity;

			span {
				display: inline-block;
				color: $pink;
				font-size: 14px;
				text-decoration: underline;
			}

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 5px;
				width: 7px;
				height: 12px;
				background-image: url('../img/common/ico_right.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100% auto;
			}
		}
	}
}



/******************************
 	modal sp
*******************************/

@include media($mobileSize) {
	.modal {

	    &__close {
	    	height: 11px;
	    	width: 11px;
	    	right: 0;
	    	top: -21px;
	    }

	    &__image_count {
	    	top: -22px;

	    	span {
	    		font-size: 12px;
	    	}

	    	.current {
	    		font-size: 16px;
	    	}
	    }

		&--slider {
		    height: 100vh;


		    .modal_slider_container {
		    	position: relative;
		    	width: 300px;
		    	height: 300px;
		    }

		    .modal_slider {
				width: 300px;

				&__prev,
				&__next {
					height: 21px;
					width: 21px;
					top: calc(50% - 10px);
				}

				&__prev {
					left: -5px;
				}

				&__next {
					right: -5px;
				}

				.modal_item {

					&__img {
						width: 300px;
						height: 300px;
					}
				}
			}
		}

		&--comments {

		    .modal_comment_container {
		    	width: 300px;
		    	height: 480px;

		    	.event_comments {
		    		padding: 20px 10px 0;

					&__header {
						margin-bottom: 20px;
						font-size: 13px;
					}

					.comment_item {

						&__img {
							top: 12px;
							height: 27px;
							width: 27px;
						}

						&__details {
							padding: 12px 10px 12px 0;
							margin-left: 0;
							padding-top: 17px;
							width: 100%;
						}

						&__name {
							font-size: 14px;
							margin-left: 35px;
							width: calc(100% - 35px);
						}

						&__msg {
							font-size: 12px;
							margin-top: 20px;
						}

						&__date {
							font-size: 12px;
							position: absolute;
							top: 8px;
							right: 0;
							text-align: right;
						}
					}

				}
		    }
		}

		// modal login-register
		&--login, &--register {
			.form__container {
				input {
					margin: 0 auto;
					display: block;
					padding: 3px 0;
					font-size: 13px;
					min-width: auto;
					max-width: 330px;
					width: calc(100% - 20px);
					min-height: 30px;
				}

				input[type="submit"] {
					margin-top: 15px;
				}
			}
		}
	}

	// nicole scss
	.modal {

		.modal__inner {
			padding: 20px 0;
			width: calc(100% - 20px);
			max-width: 400px;
			border-radius: 10px;

			.ico__close {
				top: 10px;
				right: 10px;
				width: 13px;
			}

			figure {
				max-width: 80px;
			}

			.or--img {
				display: block;
				margin: 25px auto 0;
				max-width: 330px;
			}

			.form__container {
				margin-top: 23px;
			}

			.social__container {
				margin: 20px auto 0;
				max-width: 180px;
			}

			.a--register {
				margin-top: 25px;
				font-size: 12px;
				letter-spacing: 0.01em;

				span {
					font-size: 12px;
				}

				&::after {
					width: 5px;
					height: 9px;
				}
			}
		}
	}
}