/**************************************

notif-message.scss

***************************************/


.notif_messages {

	&__container {
		padding-top: 15px;
		padding-bottom: 75px;
		overflow: visible;
		min-height: 500px;
	}

	.previous {
		margin: 35px 45px;
	}
}

.notif_tab {
	width: 100%;
	@include flex(center, flex-start);

	li {
		width: 175px;
		@include flex(center, flex-start);

		a {
			@include flex(center, flex-start);
			font-size: 30px;
			height: 50px;
			color: $shadow;
			cursor: pointer;

			&.active {
				color: $pink;
				border-bottom: 3px solid $pink;
			}

			&:hover {
				color: $pink;
			}
		}
	}
}

.notif_panel {
	display: none;
	margin-top: 20px;

	.notif_item {
		position: relative;
		@include transition;

		&__img {
			position: absolute;
			top: 20px;
			left: 0;
			height: 50px;
			width: 50px;
			@include background;
			border-radius: 100%;
		}

		&__details {
			border-bottom: 1px solid $bordergray;
			position: relative;
			width: calc(100% - 75px);
			padding: 25px 15px 25px 0;
			margin-left: 75px;

			span {
				color: $blue;
			}
		}

		&__name {
			font-size: 18px;
			color: $shadow;
		}

		&__msg {
			font-size: 18px;
			color: #333;
			margin-top: 8px;
			line-height: 1.5;
		}

		&__date {
			font-size: 15px;
			color: #666;
			position: absolute;
			right: 25px;
			top: 20px;
		}
	}

	.delete_option {

		.hide-show {
			position: absolute;
			top: 24px;
			right: 0;
			z-index: 2;
			width: 14px;
			height: 8px;
			@include background;
			background-image: url('../img/common/ico_dropdown_down.png');
		    margin-left: auto;
		    @include transition;
		    cursor: pointer;

		    &:hover {
				background-image: url('../img/common/ico_dropdown_down_black.png');
		    }

			&.open {
				transform: rotate(180deg);
			}
		}

		.btn_container {
			display: none;
			position: absolute;
			top: 34px;
			right: 0;
			z-index: 3;
		}
	}
}

.convo {
	height: 600px;
	padding-right: 10px;
	overflow-y: scroll;

	/* width */
	&::-webkit-scrollbar {
	    width: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
	    background: $white; 
	}
	 
	/* Handle */
	&::-webkit-scrollbar-thumb {
	    background: $dirtywhite; 
	    cursor: pointer;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
	    background: $bordergray; 
	}

	.msg {
		position: relative;
		@include transition;
		width: 70%;
		margin: 35px 0;

		&--reply {
			margin-left: auto;

			.msg__content {
				margin-right: 75px;
				margin-left: 0;
				text-align: right;
			}

			.msg__img {
				left: auto;
				right: 0;
			}

			.msg__txt {
				color: #666;
				justify-content: flex-end;
			}
		}

		&__img {
			position: absolute;
			top: 0;
			left: 0;
			height: 50px;
			width: 50px;
			@include background;
			border-radius: 100%;
		}

		&__content {
			position: relative;
			width: calc(100% - 75px);
			margin-left: 75px;
		}

		&__txt {
			font-size: 18px;
			color: #333;
			line-height: 1.5;
			min-height: 50px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&__date {
			font-size: 12px;
			color: #666;
		}
	}
}

.reply {
	border-top: 1px solid $bordergray;
	padding: 20px 0;

	.form_input {
		textarea {
			background-color: #f2f2f2;
			min-width: 100%;
			border: none;
			font-size: 16px;
		}

		&.reply_btn {
			@include flex(center, flex-end);

			.custom_checkbox {
				width: 200px;
			}

			.btn--primary {
				margin-top: 0;
			}
		}

	}
}


/******************************
    sp
*******************************/

@include media($mobileSize) {

	.notif_messages {
		margin-top: 15px;
		margin-bottom: 25px;

		&__container {
			min-height: auto;
			padding-bottom: 20px;
		}

		.previous {
			margin: 20px 25px;
		}
	}

	.notif_tab {
		@include flex(center, center);

		li {
			width: 50%;
			@include flex(center, center);

			a {
				@include flex(center, center);
				font-size: 13px;
				height: 25px;

				&.active {
					border-bottom: 2px solid $pink;
				}
			}
		}
	}

	.notif_panel {
		margin-top: 10px;

		.notif_item {

			&__img {
				top: 12px;
				height: 27px;
				width: 27px;
			}

			&__details {
				width: calc(100% - 35px);
				padding: 12px 10px 12px 0;
				margin-left: 35px;
			}

			&__name {
				font-size: 14px;
			}

			&__msg {
				font-size: 12px;
				margin-top: 4px;
			}

			&__date {
				font-size: 12px;
				position: absolute;
				right: 15px;
				top: 12px;
			}
		}

		.delete_option {
			top: 16px;

			.hide-show {
				width: 9px;
				height: 6px;
			}

			.btn--white {
				height: 30px;
				width: 100px;
				font-size: 13px;
			}
		}
	}

	.convo {
		height: 350px;
		padding-right: 0;
		overflow-y: scroll;

		/* width */
		&::-webkit-scrollbar {
		    width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
		    background: $white; 
		}
		 
		/* Handle */
		&::-webkit-scrollbar-thumb {
		    background: $dirtywhite; 
		    cursor: pointer;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
		    background: $bordergray; 
		}

		.msg {
			width: 100%;
			margin: 25px 0;

			&--reply {
				margin-left: auto;

				.msg__content {
					margin-right: 38px;
				}
			}

			&__img {
				height: 27px;
				width: 27px;
			}

			&__content {
				width: calc(100% - 38px);
				margin-left: 38px;
			}

			&__txt {
				font-size: 12px;
				line-height: 1.5;
				min-height: 25px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}

			&__date {
				font-size: 12px;
				color: #666;
			}
		}
	}

	.reply {
		border-bottom: 1px solid $bordergray;

		.form_input {
			textarea {
				background-color: #f2f2f2;
				min-width: 100%;
				border: none;
				font-size: 13px
			}

			&.reply_btn {
				@include flex(center, flex-end);

				.custom_checkbox {
					width: 200px;

					input {
						font-size: 12px;
					}

					.checkmark {
						height: 16px;
						width: 16px;
					}
				}

				.btn--primary {
					margin-top: 0;
				    height: 25px;
    				font-size: 12px;
				}
			}

		}
	}

}