/**************************************

profile.scss

***************************************/
.profile {
	margin-bottom: 50px;
}

.modal_profile {
	&__img {
		width: 62px;
		height: 62px;
		border-radius: 100%;
		overflow: hidden;
		margin: 10px auto 0;
	}

	.modal__inner {
		padding: 20px 28px;
		text-align: center;
	}

	.change_img {
		overflow: hidden;
		position: relative;
		cursor: pointer;
		color: $pink;

		[type=file] {
		    display: block;
		    opacity: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
		}
	}

}

.event_list {
	@include grid;

	.event_item {
		width: calc(25% - 15px);
		@include transition;

		&:not(:nth-of-type(4n+4)) {
			margin-right: 20px;
		}

		&:hover {
			opacity: 0.7;
		}

		&__img {
			width: 100%;
			height: 190px;
			@include background;
			background-color: $bordergray;
		}
		&__title {
			font-size: 18px;
    		line-height: 1.5;
		}
		&__info {
		    padding: 20px 10px;
		}
		&__date,
		&__location,
		&__currency {
			position: relative;
			display: block;
			font-size: 15px;
			font-weight: 300;
			padding-left: 23px;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				display: block;
				background-size: 100% auto;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		&__date {
			margin-top: 22px;

			&::before {
				width: 14px;
				height: 14px;
				background-image: url('../img/common/ico_time.png');
			}
		}

		&__location {
			&::before {
				width: 12px;
				height: 15px;
				background-image: url('../img/common/ico_location.png');
			}
		}

		&__currency {
			&::before {
				width: 14px;
				height: 14px;
				background-image: url('../img/common/ico_yen.png');
			}
		}

		&__location,
		&__currency {
			margin-top: 10px;
		}
	}
}

.user_list {
	@include grid;

	.user_item {
		width: calc(20% - 12px);
		padding: 28px 11px 20px;
		color: $shadow;
		border: 1px solid $bordergray;
		border-radius: 10px;
		margin-bottom: 25px;

		&:not(:nth-of-type(5n+5)) {
			margin-right: 15px;
		}

		&__img {
			width: 90px;
			height: 90px;
			overflow: hidden;
			@include background;
			margin: 0 auto;
		}

		&__username {
			font-size: 21px;
			font-weight: 600;
			text-align: center;
			margin-top: 14px;
		}

		&__bio {
			font-size: 14px;
			color: $lightgray;
			line-height: 1.7;
			border-bottom: 1px solid $bordergray;
			margin-top: 10px;
			padding-bottom: 20px;
		}

		&__follow_btn, &__following_btn {
			text-align: center;
			margin-top: 15px;

			span {
				padding-left: 22px;
				position: relative;
				cursor: pointer;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					background-repeat: no-repeat;
					background-position: center left;
				}
			}
		}

		&__follow_btn span {
			color: $pink;
			&::before {
				background-image: url('../img/common/ico_plus_red.png');
				background-size: 14px;
			}
		}

		&__following_btn span {
			&::before {
				background-image: url('../img/common/ico_check_gray.png');
				background-size: 16px;
			}
		}

	}
}

.create_event {
	&__box {
		cursor: pointer;
		height: 100%;
		min-height: 35px;
		width: 100%;
		background-color: $dirtywhite;
		color: $pink;
		@include flex(center, center);
		flex-direction: column;
		border: 1px solid $bordergray;
		@include transition;

		img{
			width: 40px;
			height: 40px;
			margin-bottom: 15px;
		}

		&:hover {
			img, span {
				opacity: 0.8;
			}
		}
	}
}

.profile_category {

	&__section_title {
		font-size: 27px;
		font-weight: 600;
		margin: 50px 0 30px;
	}

	section {
		padding: 0;

		&:not(first-of-type) {
			border-top: 1px solid $bordergray;
		}
	}
}

.add_friend {
	&__header {
		@include flex(center, space-between);

		.input--search {
			width: 240px;
		}
	}
}

/******************************
    SP
*******************************/

@include media($mobileSize) {
	.profile {
		margin-bottom: 30px;
	}

	.event_list {

		.event_item {
			width: 100%;

			&:not(:last-of-type) {
				margin-bottom: 20px;
			}

			&:not(:nth-of-type(4n+4)) {
				margin-right: 0;
			}

			&__title {
				font-size: 16px;
			}
			&__info {
			    padding: 12px 9px;
			}
			&__date,
			&__location,
			&__currency {
				font-size: 12px;
				padding-left: 20px;
			}

			&__date {
				margin-top: 22px;

				&::before {
					width: 13px;
					height: 13px;
				}
			}

			&__location {
				&::before {
					width: 11px;
					height: 14px;
				}
			}

			&__currency {
				&::before {
					width: 13px;
					height: 13px;
				}
			}

			&__location,
			&__currency {
				margin-top: 9px;
			}
		}
	}

	.user_list {

		.user_item {
			width: calc(50% - 4px);
			padding: 14px 8px 10px;
			margin-bottom: 10px;

			&:not(:nth-of-type(5n+5)) {
				margin-right: 0;
			}

			&:not(:nth-of-type(2n+2)) {
				margin-right: 8px;
			}

			&__img {
				width: 45px;
				height: 45px;
			}

			&__username {
				font-size: 13px;
				margin-top: 9px;
			}

			&__bio {
				font-size: 10px;
				line-height: 1.4;
				margin-top: 10px;
				padding-bottom: 14px;
			}

			&__follow_btn, &__following_btn {
				margin-top: 10px;

				span {
					font-size: 12px;
					padding-left: 18px;
				}
			}

			&__follow_btn span {
				&::before {
					background-size: 9px;
				}
			}

			&__following_btn span {
				&::before {
					background-size: 12px;
				}
			}

		}
	}

	.create_event {
		&__box {
			flex-direction: row;
			font-size: 13px;

			img{
				width: 11px;
				height: 11px;
				margin-bottom: 0;
				margin-right: 5px;
			}
		}
	}

	.profile_category {

		&__section_title {
			font-size: 14px;
			margin: 20px 0 15px;
		}

		section {
			padding: 0;
			
			&:not(first-of-type) {
				border-top: 1px solid $bordergray;
			}
		}
	}

	.add_friend {
		&__header {
			@include flex(center, space-between);

			.input--search {
				width: 145px;
			}
		}
	}
}